IO_LOC  "pin_dec" 57;
IO_PORT "pin_dec" IO_TYPE=LVCMOS33;

IO_LOC  "pin_uni" 56;
IO_PORT "pin_uni" IO_TYPE=LVCMOS33;

IO_LOC  "g" 29;
IO_PORT "g" IO_TYPE=LVCMOS33;

IO_LOC  "f" 30;
IO_PORT "f" IO_TYPE=LVCMOS33;

IO_LOC  "e" 51;
IO_PORT "e" IO_TYPE=LVCMOS33;

IO_LOC  "d" 42;
IO_PORT "d" IO_TYPE=LVCMOS33;

IO_LOC  "c" 53;
IO_PORT "c" IO_TYPE=LVCMOS33;

IO_LOC  "b" 54;
IO_PORT "b" IO_TYPE=LVCMOS33;

IO_LOC  "a" 55;
IO_PORT "a" IO_TYPE=LVCMOS33;

IO_LOC  "Gray[3]" 25;
IO_PORT "Gray[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Gray[2]" 26;
IO_PORT "Gray[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Gray[1]" 27;
IO_PORT "Gray[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Gray[0]" 28;
IO_PORT "Gray[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Led[0]" 10;
IO_PORT "Led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "Led[1]" 11;
IO_PORT "Led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "Led[2]" 13;
IO_PORT "Led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "Led[3]" 14;
IO_PORT "Led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "btn_in" 3;
IO_PORT "btn_in" IO_TYPE=LVCMOS18;
